data/
**/data/
*/data/
datasets/
outputs/
checkpoints/
wandb/
*.pth
*.pt
*.npz
*.npy
*.csv
*.log
*.ckpt
*.onnx

*.ipynb
.ipynb_checkpoints/

__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store
*.swp

.venv/
env/
*.env
.envrc

.git/
.gitignore
.dockerignore

**/.ipynb_checkpoints/
**/__pycache__/
**/*.pt
**/*.pth
**/wandb/



